<%= form_with(model: personel, local: true) do |form| %>
  <% if personel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personel.errors.count, "error") %> prohibited this personel from being saved:</h2>

      <ul>
        <% personel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :passive %>
    <%= form.check_box :passive, checked: false %>
  </div>

  
  <%#= form.fields_for :departments do |department_form| %>
    <div class="field">
      <%#= department_form.label :name %>
      <%#= department_form.collection_select(:department_ids, Department.all, :id, :name_with_initial) %>
      <%#= department_form.collection_select(:personel_id, Personel.all, :id, :name_with_initial, {}, disabled: false) %>  
    </div>
  <%# end %>
  <%= form.fields_for :employments do |employment_form| %>
    <div class="field">
      <%= employment_form.label :name %>
      <%= employment_form.collection_select(:department_id, Department.all, :id, :name_with_initial) %>
   </div>
    <div class="field">
      <%= employment_form.label :start_date %>
      <%= employment_form.date_field :start_date %>
    </div>

    <div class="field">
      <%= employment_form.label :end_date %>
      <%= employment_form.date_field :end_date %>
    </div>
    Delete: <%= employment_form.check_box :_destroy %>
    <%#= link_to 'Destroy', employment_form.employment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
    
  

  <div class="actions">
    <%= form.submit data: {disable_with: "Saving..."} %>
  </div>



<% end %>
