<%= form_with(model: personel, local: true) do |form| %>
  <% if personel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personel.errors.count, "error") %> prohibited this personel from being saved:</h2>

      <ul>
        <% personel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :passive %>
    <%= form.check_box :passive, checked: false %>
  </div>

  <div class="actions">
    <%= form.submit data: {disable_with: "Saving..."} %>
  </div>
<% end %>
