<p id="notice"><%= notice %></p>
<div class="control-panel">  
  <%= link_to t(:add).titleize , new_journal_doc_analytic_path, class: "btn btn-primary btn-sm col-2 form-control mb-2 mt-2" %>
</div>
<h1>Journal Doc Analytics</h1>

<table>
  <thead>
    <tr>
      <th>Reporter</th>
      <th>Report date</th>
      <th>New entry</th>
      <th>Updated entry</th>
      <th>New author</th>
      <th>New subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journal_doc_analytics.each do |journal_doc_analytic| %>
      <tr>
        <td><%= journal_doc_analytic.reporter %></td>
        <td><%= journal_doc_analytic.report_date %></td>
        <td><%= journal_doc_analytic.new_entry %></td>
        <td><%= journal_doc_analytic.updated_entry %></td>
        <td><%= journal_doc_analytic.new_author %></td>
        <td><%= journal_doc_analytic.new_subject %></td>
        <td><%= link_to 'Show', journal_doc_analytic %></td>
        <td><%= link_to 'Edit', edit_journal_doc_analytic_path(journal_doc_analytic) %></td>
        <td><%= link_to 'Destroy', journal_doc_analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


