<div class="">
  <div class="wrapper-div col-16 p-3">    
    <p>
      <%=form.label :select_personel%>
      <%=form.collection_select(:personel_id, Personel.current_department('Kataloglama Birimi'), :id, :to_s, {}, {class: "form-control form-control-sm"}) %>    
    </p>
    <p>
      <%= form.label :new_entry%>
      <%= form.number_field :new_entry , class: "form-control"%>
    </p>
    <p>
      <%= form.label :duplicate_entry%>
      <%= form.number_field :duplicate_entry , class: "form-control"%>
    </p>  
    <p>
      <%= form.label :subject_entry%>
      <%= form.number_field :subject_entry , class: "form-control"%>
    </p>
    <p>
      <%= form.label :tagged_pubs%>
      <%= form.number_field :tagged_pubs , class: "form-control"%>
    </p> 
    <p>
      <%= form.label :secured_pubs%>
      <%= form.number_field :secured_pubs , class: "form-control"%>
    </p> 
    <p>
      <%= form.label :scanned_books%>
      <%= form.number_field :scanned_books , class: "form-control"%>
    </p>    
    <p>
      <%= form.label :scanned_images%>
      <%= form.number_field :scanned_images , class: "form-control"%>
    </p>
    <p>
      <%= form.label :refactored_records%>
      <%= form.number_field :refactored_records , class: "form-control"%>
    </p> 

    <p>
       <%= link_to_remove_nested(form, fields_wrapper_selector: '.wrapper-div', link_text: "Remove Catalog Analytic", link_classes: 'btn btn-danger') %>
    </p>   
  </div>
</div>