<%= form_with(model: catalog_report, local: true) do |form| %>
  <% if catalog_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalog_report.errors.count, "error") %> prohibited this catalog_report from being saved:</h2>

      <ul>
        <% catalog_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_date %>
    <%= form.date_field :report_date %>
  </div>

  <div class="field">
    <%= form.label :reporter %>
    <%= form.text_field :reporter %>
  </div>

  <div class="field">
    <%= form.label :reporter_title %>
    <%= form.text_field :reporter_title %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  
  <%= link_to_add_nested(form, :catalog_analytics, '#catalog-analytics', link_classes: 'btn btn-primary',  link_text: "Add New Catalog Analytic") %>
  
  <div id="catalog-analytics" class="row">
    <%= form.fields_for :catalog_analytics do |catalog_analytic| %>
      <%= render 'catalog_analytic_fields', form: catalog_analytic %>   
    <% end %>    
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success"%>
  </div> 

  
<% end %>
