<p id="notice"><%= notice %></p>
<h1><%=t(:catalog_reports).titleize%></h1>
<div class="control-panel">  
  <%= link_to t(:add).titleize , new_catalog_report_path, class: "btn btn-primary btn-sm col-2 form-control mb-2 mt-2" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Report date</th>
      <th>Reporter</th>
      <th>Reporter title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalog_reports.each do |catalog_report| %>
      <tr>
        <td><span class="badge badge-warning"><%= catalog_report.report_date %></span></td>
        <td><%= catalog_report.reporter %></td>
        <td><%= catalog_report.reporter_title %></td>
        <td><%= catalog_report.notes[..30]+"..." %></td>
        <td><%= link_to 'Ayrıntılar', catalog_report, class: "btn btn-info btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate @catalog_reports %>
</div>

<br>

