<p id="notice"><%= notice %></p>
<h2>Detaylar</h2>
<table class="table ">
	<tr>
		<th>Report date:</th>
		<td><span class="badge badge-warning"><%=  @catalog_report.report_date %></span></td>
	</tr>
		<tr>
		<th>Reporter</th>
		<td><span class=""><%= @catalog_report.reporter %></span></td>
	</tr>
	</tr>
		<tr>
		<th>Reporter title</th>
		<td><span class=""><%= @catalog_report.reporter_title %></span></td>
	</tr>

</table>
<p class="p-1"><strong>Notes:</strong></p>
<p class= "p-1"><%= @catalog_report.notes %></p> 

<% if @catalog_report.catalog_analytics.count > 0 %>
	<table class="table table-sm">
		<th>Personel</th>
		<th class="text-right">New Entry</th>
		<th class="text-right">Duplicate Entry</th>
		<th class="text-right">Subject Entry</th>
		<th class="text-right">tagged_pubs</th>
		<th class="text-right">secured_pubs</th>
		<th class="text-right">scanned_books</th>
		<th class="text-right">scanned_images</th>
		<th class="text-right">refactored_records</th>
		<th class="text-right">Last Update</th>
		<th class="text-right">Time created</th>
		<% @catalog_report.catalog_analytics.each do |catalog_an| %>
			<tr>			
				<td class="text-left"><%= catalog_an.personel%></td>
				<td class="text-right"><%= catalog_an.new_entry%></td>
				<td class="text-right"><%= catalog_an.duplicate_entry%></td>
				<td class="text-right"><%= catalog_an.subject_entry%></td>
				<td class="text-right"><%= catalog_an.tagged_pubs%></td>
				<td class="text-right"><%= catalog_an.secured_pubs%></td>
				<td class="text-right"><%= catalog_an.scanned_books%></td>
				<td class="text-right"><%= catalog_an.scanned_images%></td>
				<td class="text-right"><%= catalog_an.refactored_records%></td>
				<td class="text-right"><%= catalog_an.updated_at%></td>
				<td class="text-right"><%= catalog_an.created_at%></td>
			</tr>
		<% end %>
		<tr>
			<th>Toplam: </th>
			<td class="text-right"><%= @catalog_report.sum(:new_entry) %></td>
			<td class="text-right"><%= @catalog_report.sum(:duplicate_entry) %></td>	
			<td class="text-right"><%= @catalog_report.sum(:subject_entry) %></td>	
			<td class="text-right"><%= @catalog_report.sum(:tagged_pubs) %></td>	
			<td class="text-right"><%= @catalog_report.sum(:secured_pubs) %></td>	
			<td class="text-right"><%= @catalog_report.sum(:scanned_books) %></td>
			<td class="text-right"><%= @catalog_report.sum(:scanned_images) %></td>
			<td class="text-right"><%= @catalog_report.sum(:refactored_records) %></td>	
			<td></td>
			<td></td>		
		</tr>		
	</table>
<% end %> 
<%= link_to 'Geri', catalog_reports_path, class: "btn btn-sm btn-secondary" %>
<%= link_to 'Düzenle', edit_catalog_report_path(@catalog_report), class: "btn btn-sm btn-warning" %>
<%= link_to 'Sil', catalog_report_path, method: :delete, data: {confirm: "Emin misiniz?"}, class: "btn btn-sm btn-danger" %>

