
<%= form_with(model: journal_doc_report, local: true) do |form| %>
  <% if journal_doc_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal_doc_report.errors.count, "error") %> prohibited this journal_doc_report from being saved:</h2>

      <ul>
        <% journal_doc_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-3">
    <div class="field">
      <%= form.label :report_date %>
      <%= form.date_field :report_date, class: "form-control form-control-sm" %>
    </div>  
  
    <div class="">
      <%= form.label :journal_count, class: "form-label" %>
      <%= form.number_field :journal_count, class: "form-control form-control-sm" %>
    </div>
  
    <div class="field">
      <%= form.label :document_count, class: "form-label" %>
      <%= form.number_field :document_count, class: "form-control form-control-sm" %>
    </div>
  
    <div class="field">
      <%= form.label :unique_subjects_given %>
      <%= form.number_field :unique_subjects_given, class: "form-control form-control-sm" %>
    </div>
  
    
  
    <div class="field">
      <%= form.label :unique_author_given %>
      <%= form.number_field :unique_author_given, class: "form-control form-control-sm" %>
    </div>
  
    <div class="field">
      <%= form.label :author_given %>
      <%= form.number_field :author_given, class: "form-control form-control-sm" %>
    </div>
  
     <div class="field">
      <%= form.label :reporter %>
      <%= form.text_field :reporter, class: "form-control form-control-sm" %>
    </div>
    <div class="actions col-16 ">
    <%= link_to_add_nested(form, :journal_doc_analytics, '#journal-doc-analytics', link_classes: 'btn btn-primary form-control',  link_text: "Add New Journal Doc. Analytic") %>
    </div>
    <div class="actions col-16 ">
    <%= form.submit class: "btn btn-success form-control" %>
    </div>
     
</div>
<div class="col-9">
  

  <div id="journal-doc-analytics" class="row">
    <%= form.fields_for :journal_doc_analytics do |journal_doc_analytic| %>
      <%= render 'journal_doc_analytic_fields', form: journal_doc_analytic %>   
    <% end %>    
  </div>

  
</div>
</div> 
<% end %>
