
  <div class="wrapper-div col-3 p-1">
    <div class="field">
      <%= form.label :select_personel %>
      <%= form.collection_select(:personel_id, Personel.all, :id, :name_with_initial, {}, {class: "form-control form-control-sm"}) %>
    </div>
    <div class="field">
      <%= form.label :report_date %>
      <%= form.date_field :report_date, class: "form-control form-control-sm" %>
    </div>
     
    <div class="field">
      <%= form.label :new_entry, class: "form-label" %>
      <%= form.number_field :new_entry , class: "form-control form-control-sm"%>
    </div>
      
    <div class="field">
      <%= form.label :updated_entry, class: "form-label" %>
      <%= form.number_field :updated_entry, class: "form-control form-control-sm" %>
    </div>
      
    <div class="field">
      <%= form.label :new_author, class: "form-label" %>
      <%= form.number_field :new_author, class: "form-control form-control-sm" %>
    </div>
    
    <div class="field">
      <%= form.label :new_subject, class: "form-label" %>
      <%= form.number_field :new_subject, class: "form-control form-control-sm" %>
    </div>
    <p>
      <%= link_to_remove_nested(form, fields_wrapper_selector: '.wrapper-div', link_text: "Remove Journal Doc.  Analytic", link_classes: 'btn btn-danger form-control') %>
    </p>   
  </div>  
