<p id="notice"><%= notice %></p>

<h1>Journal Doc Reports</h1>

<table class="table">
  <thead>
    <tr>
      <th class="">Report date</th>
      <th class="text-right">Journal count</th>
      <th class="text-right">Document count</th>
      <th class="text-right">Unique subjects given</th>
      <th class="text-right">Unique author given</th>
      <th class="text-right">Author given</th>
      <th class="text-right">Journal doc analytic count</th>
      <th class="text-right">Reporter</th>      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @journal_doc_reports.each do |journal_doc_report| %>
      <tr>
        <td><span class="badge badge-warning"><%= journal_doc_report.report_date %></span></td>
        <td class="text-right"><%= journal_doc_report.journal_count %></td>
        <td class="text-right"><%= journal_doc_report.document_count %></td>
        <td class="text-right"><%= journal_doc_report.unique_subjects_given %></td>
        <td class="text-right"><%= journal_doc_report.unique_author_given %></td>
        <td class="text-right"><%= journal_doc_report.author_given %></td>
        <td class="text-right"><%= journal_doc_report.journal_doc_analytics.size %></td>
        <td class="text-right"><%= journal_doc_report.reporter %></td>
        
        <td><%= link_to 'Ayrıntılar', journal_doc_report, class: "btn btn-info btn-sm" %></td>         
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate @journal_doc_reports %>
</div>

<br>

<%= link_to 'New Journal Doc Report', new_journal_doc_report_path, class: "btn btn-primary btn-sm" %>
