<p id="notice"><%= notice %></p>

<p>
  <strong>Journal count:</strong>
  <%= @journal_doc_report.journal_count %>
</p>

<p>
  <strong>Document count:</strong>
  <%= @journal_doc_report.document_count %>
</p>

<p>
  <strong>Unique subjects given:</strong>
  <%= @journal_doc_report.unique_subjects_given %>
</p>

<p>
  <strong>Unique author given:</strong>
  <%= @journal_doc_report.unique_author_given %>
</p>

<p>
  <strong>Author given:</strong>
  <%= @journal_doc_report.author_given %>
</p>

<p>
  <strong>Reporter:</strong>
  <%= @journal_doc_report.reporter %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @journal_doc_report.report_date %>
</p>

<hr>
<table class="table">
<thead>
  <th>Personel</th>
  <th>Yeni konu girişi</th>
  <th>Güncellenen konu girişi</th>
  <th>Yeni yazar girişi</th>
  <th>Yeni konu girişi</th>

</thead>
<tbody>
  <% @journal_doc_report.journal_doc_analytics.each_with_index do |analytic, i|%>
  <tr>
  
    <td><% if analytic.personel %><%= analytic.personel.name_with_initial %><% else %><span style="color: red"><%= "Deleted record" %></span> <% end %></td>
    <td><%= analytic.new_entry %></td>
    <td><%= analytic.updated_entry %></td>
    <td><%= analytic.new_author %></td>
    <td><%= analytic.new_subject %></td>
  </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Edit', edit_journal_doc_report_path(@journal_doc_report) %> |
<%= link_to 'Back', journal_doc_reports_path %>
