<h1>Welcome to library analytics <%= @name %></h1>
<span><%=Time.now.strftime("%d/%m/%Y %H:%M") %></span>
<form method="GET">
    <input type="text" name="name" value=""></input>
    <button>Selamla</button>
</form>
<div>
    <li>
        <span>Referans analitikleri:</span> <%=@referance_analytics_count%>
    </li>
    <li>
        <span>Dergi Dökümantasyon rapor sayısı:</span> <%=@journal_doc_report_count%>
    </li>
    <li>
        <span>Dergi Dökümantasyon analitik sayısı:</span> <%=@journal_doc_report_count%>
    </li>

  

    <%console%>
</div>

