<%= form_with(model: reference_analytic, local: true) do |form| %>
  <% if reference_analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference_analytic.errors.count, "error") %> prohibited this reference_analytic from being saved:</h2>

      <ul>
        <% reference_analytic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-md-center"><!--row-->
  <div class="col-4 "><!--column 1-->
    <div class="field">
      <%#= form.label :department_id, class: "form-label" %>
      <%#= form.collection_select :department_id, Department.all, :id, :to_s, {}, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.label :report_date, class: "form-label" %>
      <%= form.date_field :report_date, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= form.label :reporter, class: "form-label" %>
      <%= form.text_field :reporter, class: "form-control", placeholder: "Ad, Soyad" %>
    </div>
  
    <div class="field">
      <%= form.label :reporter_job_title, class: "form-label" %>
      <%= form.text_field :reporter_job_title, class: "form-control", value: "Kütüphaneci" %>
    </div>
  
    <div class="field">
      <%= form.label :user_from_out, class: "form-label" %>
      <%= form.number_field :user_from_out, class: "form-control", placeholder: 0 %>
    </div>
  
    <div class="field">
      <%= form.label :user_from_inside, class: "form-label" %>
      <%= form.number_field :user_from_inside, class: "form-control", placeholder: 0 %>
    </div>
  
    <div class="field">
      <%= form.label :online_patron_outer, class: "form-label" %>
      <%= form.number_field :online_patron_outer, class: "form-control", placeholder: 0 %>
    </div>
  
    <div class="field">
      <%= form.label :online_patron_inner, class: "form-label" %>
      <%= form.number_field :online_patron_inner, class: "form-control", placeholder: 0 %>
    </div>
  
    <div class="field">
      <%= form.label :open_access_sessions, class: "form-label" %>
      <%= form.number_field :open_access_sessions, class: "form-control", placeholder: 0 %>
    </div>
    <div class="field">
      <%= form.label :depot_book_usage, class: "form-label" %>
      <%= form.number_field :depot_book_usage, class: "form-control", placeholder: 0 %>
    </div>
    <div class="field">
      <%= form.label :depot_journal_usage, class: "form-label" %>
      <%= form.number_field :depot_journal_usage, class: "form-control", placeholder: 0 %>
    </div>

    <div class="field">
      <%= form.label :depot_newspaper_usage, class: "form-label" %>
      <%= form.number_field :depot_newspaper_usage, class: "form-control", placeholder: 0 %>
    </div>
  </div><!-- end of column-->
  <div class="col-4"><!-- column 2-->
    <div class="field">
      <%= form.label :book_on_loan, class: "form-label" %>
      <%= form.number_field :book_on_loan, class: "form-control", placeholder: 0 %>
    </div>

    <div class="field">
      <%= form.label :book_renew, class: "form-label" %>
      <%= form.number_field :book_renew, class: "form-control", placeholder: 0 %>
    </div>

    <div class="field">
      <%= form.label :book_withdraw, class: "form-label" %>
      <%= form.number_field :book_withdraw, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :book_on_loan_mp, class: "form-label" %>
      <%= form.number_field :book_on_loan_mp, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :book_on_loan_retired_mp, class: "form-label" %>
      <%= form.number_field :book_on_loan_retired_mp, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :book_on_loan_inner_patron, class: "form-label" %>
      <%= form.number_field :book_on_loan_inner_patron, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :book_use_mp, class: "form-label" %>
      <%= form.number_field :book_use_mp, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :book_use_retired_mp, class: "form-label" %>
      <%= form.number_field :book_use_retired_mp, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :book_use_inner_patron, class: "form-label" %>
      <%= form.number_field :book_use_inner_patron, class: "form-control" %>
    </div>
  </div><!--endof column 2-->
  <div class="col-4"><!-- column 3-->
    <div class="field">
      <%= form.label :microfilm_use_mp, class: "form-label" %>
      <%= form.number_field :microfilm_use_mp, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :microfilm_use_retired_mp, class: "form-label" %>
      <%= form.number_field :microfilm_use_retired_mp, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :microfilm_use_inner_patron, class: "form-label" %>
      <%= form.number_field :microfilm_use_inner_patron, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :microfilm_use_outer_patron, class: "form-label" %>
      <%= form.number_field :microfilm_use_outer_patron, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :microfilm_income %>
      <%= form.number_field :microfilm_income,  :step => "0.01", class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :photocopy_a4_unpaid, class: "form-label" %>
      <%= form.number_field :photocopy_a4_unpaid, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :photocopy_a3_unpaid, class: "form-label" %>
      <%= form.number_field :photocopy_a3_unpaid, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :photocopy_a4_paid, class: "form-label" %>
      <%= form.number_field :photocopy_a4_paid, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :photocopy_a3_paid, class: "form-label" %>
      <%= form.number_field :photocopy_a3_paid, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :digitalized_pages, class: "form-label" %>
      <%= form.number_field :digitalized_pages, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :photocopy_income %>
      <%= form.number_field :photocopy_income, step: "0.01", class: "form-control" %>
    </div>
  </div><!--endof column 3-->
  </div><!--endof row-->
  <div class="field">
    <%= form.label :notes, class: "form-label" %>
    <%= form.text_area :notes, class: "form-control" %>
  </div>
  <div class="row">
  <div class="col-4  ">
    <%= form.submit  class: "btn btn-primary form-control" %>
  </div>
</div>
<% end %>
