<p id="notice"><%= notice %></p>

<h1>Reference Analytics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Reporter</th>
      <th>Report date</th>
      <th>User from out</th>
      <th>User from inside</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reference_analytics.each do |reference_analytic| %>
      <tr>
        <td><%= reference_analytic.reporter %></td>
        <td><%= reference_analytic.report_date %></td>
        <td><%= reference_analytic.user_from_out %></td>
        <td><%= reference_analytic.user_from_inside %></td>
        <td><%= link_to 'Show', reference_analytic, class: "btn btn-sm btn-info" %></td>
        <td><%= link_to 'Edit', edit_reference_analytic_path(reference_analytic) %></td>
        <td><%= link_to 'Destroy', reference_analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference Analytic', new_reference_analytic_path, class: "btn btn-sm btn-primary" %>
