<p id="notice"><%= notice %></p>

<p>
  <strong>Reporter:</strong>
  <%= @reference_analytic.reporter %>
</p>

<p>
  <strong>Reporter Job Title:</strong>
  <%= @reference_analytic.reporter_job_title %>
</p>

<p>
  <strong>Online Patron Outer:</strong>
  <%= @reference_analytic.online_patron_outer %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @reference_analytic.report_date %>
</p>

<p>
  <strong>User from out:</strong>
  <%= @reference_analytic.user_from_out %>
</p>

<p>
  <strong>User from inside:</strong>
  <%= @reference_analytic.user_from_inside %>
</p>

<%= link_to 'Edit', edit_reference_analytic_path(@reference_analytic), class: "btn btn-sm btn-warning" %>
<%= link_to 'Back', reference_analytics_path, class: "btn btn-sm btn-secondary" %>
<%= link_to 'Destroy', @reference_analytic, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?'} %>