<!DOCTYPE html>
<html>
  <head>
    <title>LibAnalytic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application_view.js' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Added for devise-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!--Added for devise-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"><%= t(:home).capitalize %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=acquisition_reports_path%>"><%=t(:acquisition_reports).capitalize%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=reference_analytics_path%>"><%=t(:reference_reports).capitalize%></a>
      </li>
      
      <% if user_signed_in? %>
      <li class="nav-item">        
        
        <%= link_to t(:logout).capitalize, destroy_user_session_path, method: :delete,  class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">        
        <a class="nav-link " href="<%=new_user_session_path%>"><%=t(:login).capitalize%></a>
      </li>
      <% end %>
      <% if current_user %>
        <li class="nav-item nav-link"><%= current_user.email %></li>
      <% end %>

    </ul>

  </div>
</nav>
  <div class="row" >
    <div class="col col-sm-2 col-md-2">
      <nav class="nav flex-column " style="background-color: gray">
        <a class="nav-link active" href="/"><%= t(:home).capitalize %></a>
        <a class="nav-link" href="<%=acquisition_reports_path%>"><%=t(:acquisition_reports).capitalize%></a>
        <a class="nav-link" href="<%=catalog_reports_path%>"><%=t(:catalog_reports).capitalize%></a>
        <a class="nav-link" href="<%=reference_analytics_path%>"><%=t(:reference_reports).capitalize%></a>
        <a class="nav-link" href="<%=journal_doc_reports_path%>"><%=t(:journal_documentation_reports).capitalize%></a>
        <a class="nav-link " href="<%=personels_path%>"><%=t(:personel).capitalize%></a>
        <a class="nav-link " href="<%=departments_path%>"><%=t(:departments).capitalize%></a>
        <a class="nav-link " href="<%=employments_path%>"><%=t(:employments).capitalize%></a>
        <a class="nav-link " href="<%=users_path%>"><%=t(:users).capitalize%></a>
      </nav>
    </div>
    <div class="col col-sm-10 col-md-10">
      <%= yield %>
    </div>
  </div> <!-- row end -->
    
  </body>
</html>
