<%= form_with(model: @acquisition_report, local: true) do |form| %>
  <% if @acquisition_report.errors.any? %>
    <div id="error-explanation">
      <h2>
        <%= pluralize(@acquisition_report.errors.count, "error")%> prohibited this acquisition report from being saved:
      </h2>
      <ul>
          <% @acquisition_report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
  
    </div>
  <% end %>
  
  <p>
    <%=form.label :reporter_identity, class: "form-text" %><br/>
    <%=form.text_field :reporter_identity, class: "form-control", placeholder: "Ms. Smith" %><br/>
  </p>
  
  <p>
    <%=form.label :job_title %><br/>
    <%=form.text_field :job_title, class: "form-control" %>
  </p>
  
  <p>
    <%=form.label :posted_books %><br/>
    <%=form.number_field :posted_books, class: "form-control" %>
  </p>
  
  <p>
    <%=form.label :refactored_items %><br/>
    <%=form.number_field :refactored_items, class: "form-control" %>
  </p>
  
  <p>
    <%=form.label :note %><br/>
    <%=form.text_area :note, class: "form-control" %>
  </p>
  
  <p>
    <%=form.label :date %><br/>
    <%=form.date_field :date, class: "form-control" %><br/>
  </p>
  
  <%= link_to_add_nested(form, :acquisition_analytics, '#acquisition-analytics', link_classes: 'btn btn-primary',  link_text: "Add New Acquisition Analytic") %>
  
  <div id="acquisition-analytics">
    <%= form.fields_for :acquisition_analytics do |acq_analytics| %>
      <%= render 'acquisition_analytic_fields', form: acq_analytics %>   
    <% end %>    
  </div>
  <%=form.submit class: "btn btn-success"%>
    
  <% end %>