<%= form_with(model: @acquisition_report, local: true) do |form| %>
  <% if @acquisition_report.errors.any? %>
    <div id="error-explanation">
      <h2>
        <%= pluralize(@acquisition_report.errors.count, "error")%> prohibited this acquisition report from being saved:
      </h2>
      <ul>
          <% @acquisition_report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
  
    </div>
  <% end %>
  <p>
    <%=form.label :date, t(:date).titleize %>
    <%=form.date_field :date, class: "form-control" %><br/>
  </p>
    <div class="row">
      <%=form.label :reporter_identity, t(:reporter_identity).titleize, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%=form.text_field :reporter_identity, class: "form-control", placeholder: "Ms. Smith" %>
      </div>
      <%=form.label :job_title, t(:job_title).capitalize, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%=form.text_field :job_title, class: "form-control" %>
      </div>
    </div>
    
    <div class="row">
      <%=form.label :posted_books, t(:posted_books).titleize, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%=form.number_field :posted_books, class: "form-control" %>
      </div>
      <%=form.label :refactored_items, t(:refactored_items).titleize, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%=form.number_field :refactored_items, class: "form-control" %>
      </div>
    </div>

  <p>
    <%=form.label :note, t(:note).titleize %>
    <%=form.text_area :note, class: "form-control" %>
  </p>
 
  
  
  <div id="acquisition-analytics" class="row">
    <%= form.fields_for :acquisition_analytics do |acq_analytics| %>
      <%= render 'acquisition_analytic_fields', form: acq_analytics %>   
    <% end %>    
  </div>
  <%= link_to_add_nested(form, :acquisition_analytics, '#acquisition-analytics', link_classes: 'btn btn-primary form-control',  link_text: t(:add_analytic).titleize) %>
  <%=form.submit t(:save).titleize, class: "btn btn-success form-control mt-2"%>
   
<% end %>