<%= form_with(model: @acquisition_report, local: true) do |form| %>
  <% if @acquisition_report.errors.any? %>
    <div id="error-eplanation">
      <h2>
        <%= pluralize(@acquisition_report.errors.count, "error")%> prohibited this acquisition report from being saved:
      </h2>
      <ul>
          <% @acquisition_report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
  
    </div>
  <% end %>
  <p>
    <%=form.label :reporter_identity %><br/>
    <%=form.text_field :reporter_identity %><br/>
  </p>
  <p>
    <%=form.label :job_title %><br/>
    <%=form.text_area :job_title %>
  </p>
  <p>
    <%=form.label :posted_books %><br/>
    <%=form.number_field :posted_books %>
  </p>
  <p>
    <%=form.label :refactored_items %><br/>
    <%=form.number_field :refactored_items %>
  </p>
  <p>
    <%=form.label :note %><br/>
    <%=form.text_area :note %>
  </p>
  <p>
    <%=form.label :date %><br/>
    <%=form.date_field :date %><br/>
  </p>
  
  <%= form.fields_for :acquisition_analytics do |acq_analytics| %>
  <div style="border: 2px solid red">
    <p>
      <%=acq_analytics.label :pub_type%><br/>
      <%=acq_analytics.collection_select(:pub_type_id, PubType.all, :id, :to_s) %><br/>      

    </p>
    <p>
      <%= acq_analytics.label :pub_arrived_as_supply%><br/>
      <%= acq_analytics.number_field :pub_arrived_as_supply%>
    </p>
    <p>
      <%= acq_analytics.label :pub_arrived_as_gift%><br/>
      <%= acq_analytics.number_field :pub_arrived_as_gift%>
    </p>
    <p>
      Delete: <%=acq_analytics.check_box :_destroy %>
    </p>
  </div>
  <% end %>
  
  <p>
    <%=form.submit %><br/>
  </p>
  <% end %>