<div>
<h1>Acquisition Reports</h1> 
<div class="control-panel">
  <%= link_to t(:add).titleize, new_acquisition_report_path, class: "btn btn-primary btn-sm col-2 form-control mb-2 mt-2"%>
</div>
<table class="table">
  <thead>
    <th><%= t(:report_date).titleize %></th>
    <th><%= t(:reporter_identity).titleize %></th>
    <th><%= t(:created_at).titleize %></th>
    <th class="text-right"><%= t(:posted_books).titleize %></th>
    <th class="text-right"><%= t(:refactored_items).titleize %></th>
    <th></th>


  </thead>
  <tbody>
  <% @acquisition_reports.each do |report|%>
    <tr>
      <td><span class="font-size badge badge-warning "> <%= report.date%> </span></td>
      <td> <%= report.reporter_identity%> </td>
      <td> <%= report.created_at.strftime("%d.%m.%Y | %H:%M")%></td>
      <td class="text-right"> <%= report.posted_books%></td>
      <td class="text-right"> <%= report.refactored_items.nil? ? "-" : report.refactored_items %></td>
      <td> <%= link_to 'Ayrıntılar',  acquisition_report_path(report), class: "btn btn-info btn-sm" %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate @acquisition_reports %>
</div>


</div>