<div>
<h1>Acquisition Reports</h1>
<table class="table">
  <thead>
    <th>Report Date</th>
    <th>Reporter Identity</th>
    <th>Created At</th>
    <th>Posted Books</th>
    <th>Refactored Items</th>
    <th></th>


  </thead>
  <tbody>
  <% @acquisition_reports.each do |report|%>
    <tr>
      <td><span class="font-size badge badge-warning "> <%= report.date%> </span></td>
      <td> <%= report.reporter_identity%> </td>
      <td> <%= report.created_at.strftime("%d.%m.%Y | %H:%M")%></td>
      <td class="text-right"> <%= report.posted_books%></td>
      <td class="text-right"> <%= report.refactored_items.nil? ? "-" : report.refactored_items %></td>
      <td> <%= link_to 'Ayrıntılar',  acquisition_report_path(report), class: "btn btn-info btn-sm" %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'New Acquisition Report', new_acquisition_report_path, class: "btn btn-primary btn-sm"%>
</p>
</div>