<h1>Detaylar</h1>
<table class="table table-sm">
  <thead>
    <th>Titles</th>
    <th>Values</th>
   </thead>
  <tbody>
    <tr>
      <th>Report Date:</th>
      <td><%= @acquisition_report.date %></td>
    </tr>
    <tr>
      <th>Personal Info:</th>
      <td><%= @acquisition_report.reporter_identity %></td>
    </tr>
    <tr>
      <th>Job Title:</th>
      <td><%= @acquisition_report.job_title %></td>
    </tr>
    <tr>
      <th>Posted books:</th>
      <td><%= @acquisition_report.posted_books %></td>
    </tr>
    <tr>
      <th>Refactored items: </th>
      <td><%= @acquisition_report.refactored_items %></td>
    </tr>
  </tbody>
</table>
<p class="p-1"><strong>Notes:</strong></p>
<p class= "p-1"><%= @acquisition_report.note %></p> 

<table class="table">
  <thead>
    <th>Publication type</th>
    <th>Arrived as supply</th>
    <th>Arrived as gift</th>
    <th>Purchased</th>
    <th>Saved as supply</th>
    <th>Saved as gift</th>
    <th>Saved as old</th>

  </thead>
  <tbody>
  <% @acquisition_analytics_ordered_by_pub_name.each do |analytic|  %>
    <tr>
    <td><%= analytic.pub_type %></td>
    <td><%= analytic.pub_arrived_as_supply %></td>
    <td><%= analytic.pub_arrived_as_gift %></td>
    <td><%= analytic.pub_bought %></td>
    <td><%= analytic.pub_saved_as_supply %></td>
    <td><%= analytic.pub_saved_as_gift %></td>
    <td><%= analytic.pub_saved_as_old %></td>

    </tr>
  <% end %>

  </tbody>
</table>

<%= link_to 'Geriye Git', acquisition_reports_path,  class: "btn btn-light btn-sm"%> 
<%= link_to 'Düzenle', edit_acquisition_report_path, class: "btn btn-warning btn-sm" %>
<%= link_to 'Bu Kayıdı Sil', acquisition_report_path, method: :delete, data: {confirm: 'Emin misiniz'}, class: "btn btn-danger btn-sm"%>